/* .container-fluid{
    display: flex;
    width: 1000px;
    height: auto;
    padding-top: 30px;
}

.card-box{
    display: flex;
    background-color: rgb(147, 148, 148);
    box-shadow: rgb(50, 50, 50);
}

.card{
    margin-right: 1000px;
}

h1 {
    font-family: '"Dosis", sans-serif';
    color: rgb(2, 46, 66);
}

p {
    font-family: '"Dosis", sans-serif';
    color: #1c698c;
    margin: 10px 0 0 0;
    font-size: 20px;
} */